<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

	<form action="/items/<%= item._id%>?_method=put" method="post">
		<label for="name">Enter Item's Name: </label>
		<input id="name" type="text" name="name" value = '<%= item.name %>'>
		<label for="price">Enter Item's Price: </label>
		<input id="price" type="text" name="price" value = '<%= item.price %>'>
		<label for="description">Enter Item's Description: </label>
		<input id="description" type="text" name="description" value = '<%= item.description %>' >
		<input type="submit" value="Submit">
		</form>
		<a href='/items'>Go back to view full wishlist</a>
		
  </body>
</html>
