<!DOCTYPE html>
<html lang="en">
<head>
	<title>WishList</title>
	<link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
	<h1>Current WishList</h1>

	<h2>Current Item in WishList</h2>

		<%items.forEach(item =>{%>
			<p><a href='/items/<%= item._id%>'><%= item.name %></a></p>
		<%})%>
	
		<p><a href='/items/new'>Add new Item to WishList</a></p>
</body>
</html>