<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
	<link rel="stylesheet" href="/public/stylesheets/style.css">
  </head>
  <body>

	<form action="/items" method="post">
		<label for="name">Enter Item's Name: </label>
		<input id="name" type="text" name="name">
		<label for="price">Enter Item's Price: </label>
		<input id="price" type="text" name="price">
		<label for="description">Enter Item's Description: </label>
		<input id="description" type="text" name="description">
		<input type="submit" value="Submit">
		</form>
		<p><a href='/items'>Go back to view full wishlist</a></p>
		
  </body>
</html>
